altgraph==0.17.4
asgiref==3.8.1
beautifulsoup4==4.13.3
colorama==0.4.6
Django==5.2.1
packaging==24.2
pefile==2023.2.7
pyarmor==9.1.2
pyarmor.cli.core==7.6.5
pyinput==0.3.2
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
pynput==1.8.1
pytubefix==8.12.2
pywin32==310
pywin32-ctypes==0.2.3
scapy==2.6.1
setuptools==78.1.0
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.2
